body{
	background-color: black;
	margin: 0 0;
}

#contents{
	background-image: url(image/bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}

nav{
	height: 2em;
	background-image: url(image/topbar.png);
	background-size: cover;
	background-repeat: no-repeat;
	font-size: 2vw;
}

.topitem{
	float: left;
	margin-top: 0.5em;
	margin-left: 0.5em;
	background-color: white;
	border: 1px solid lightgray;
}

#avatar{
	float: right;
	height: 1.5em;
	margin-top: 0.25em;
	margin-right: 1em;
}

header{
	/*height: 55.694444444vw;*/
	position: relative;
	/*background-image: url(image/head.jpg);
	background-size: contain;
	background-repeat: no-repeat;*/
}

article{
	margin: 1em; 
	color: lightyellow;
}

.desc{
	margin-bottom: 2em;
}

.desc > h2{
	margin-bottom: 0.5em;
}

@media only screen and (max-width: 767px) {	/* スマホ */
	.desc{
		text-align: center;
	}
	.desc > img{
		width: 50%;
		margin-bottom: 1em;
	}
	.desc > h2{
		text-align: center;
		font-size: 4vw;
	}
	.desc > p{
		display: inline-block;
		text-align: left;
		width: 75%;
		margin: 0 0;
		font-size: 2.75vw;
	}
}

@media only screen and (min-width: 768px) {	/* タブレット, PC */
	body{
		margin: 0 10%;
	}

	.desc > img{
		width: 25%;
	}
	.desc > h2{
		font-size: 3vw;
	}
	.desc > p{
		display: inline-block;
		width: 70%;
		margin: 0 0;
		font-size: 1.75vw;
	}

	.desc.left > img{
		float: left;
		margin-right: 1em;
	}

	.desc.right > img{
		float: right;
		margin-left: 1em;
	}
}
